.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.title {
  background-color: #5fb7e9;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
  padding: 10px 30px;
  border-radius: 50px;
  margin-top: 70px;
}

.menuButton {
  width: fit-content;
}

.gradeContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gradeText {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}
