.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.title {
  background-color: #5FB7E9;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;
  padding: 10px 30px;
  border-radius: 50px;
  margin-top: 70px;
}

.menuButton {
  width: fit-content;
}